/* App.css */

.topnav {
  position: fixed;
  top: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%; 
  display: flex;
  align-items: center; 
  height: 60px; 
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 18px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #007bffbb;
  color: #333;
}

.topnav a.active {
  background-color: #007bffbb;
  color: #fff;
}
