/* App.css */


.topnav {
  position: fixed;
  top: 0;
  background-color: #082f49;
  width: 100%; 
  display: flex;
  align-items: center; 
  height: 80px; 
  z-index: 1000;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 18px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #0284c7;
  overflow: hidden;
  color: #333;
}

.topnav a.active {
  background-color: #0284c7;
  overflow: hidden;
  z-index: -1;
  color: #f0f9ff;
}
